{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div>
        <img src="/static/assets/img/splash.png" alt="AI Generated Splash Image">
    </div>
    <div class="content">
        <h2 class="title">Welcome to the D&amp;D 5e DM Table!</h2>
        <ul="content">
            {% for option in options %}
            <li>
                <form action="/{{ option | replace(' ', '') | lower() }}" method="POST">
                    <button type="submit">{{ option }}</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}